<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="dataReq" st-safe-src="dataReq1" ng-init="Payments();">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="amount">Amount</th>
      <th st-sort="saleID">Sale ID</th>
      <th st-sort="customerFirstName">First Name</th>
      <th st-sort="customerLastName">Last Name</th>
      <th st-sort="status">Status</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="amount" placeholder="Search by amount" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="saleID" placeholder="Search by sale ID" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="customerFirstName" placeholder="Search by First Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="customerLastName" placeholder="Search by last Name" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="status" placeholder="Search by status" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in dataReq">
      <td class="table-id">{{item.User_V}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.saleID}}</td>
      <td>{{item.customerFirstName}}</td>
      <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.customerLastName}}</a></td>
      <td>{{item.status}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
